@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.layout {
  min-height: 100vh;
  background-size: contain;
  background-repeat: repeat;
}


.footer_icon {
  width: 1.5rem !important;
  height: 1.5rem !important;
  color: white
}

.menu_logo {
  color: blueviolet;
  height: 3rem !important;
  width: 3rem !important;
  text-align: end !important;
  margin: 20px;
  cursor: pointer;
  transition-duration: 300ms;
}

.menu_logo:hover {
  color: white;
}